body{
	display: grid;
	height: 460px;
	width: 780px;
	grid-template-rows: 1fr 4fr;
	border: black 1px solid;
	grid-template-areas: "Header" "Interact";

}

html,body {overscroll-behavior: none;}

.Header{
	grid-area: "Header";
	display: grid;
	grid-template-columns: 2fr 3fr 3fr 1fr;	
	grid-template-areas: "Language info1 info2 Logout";
}

.Interact{
	grid-area: "Interact";
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "Interact1 Interact2"
}

.Interact1{
	grid-area: "Interact1";
}

.Interact2{
	grid-area: "Interact2";
	height: 336px;
	width: 390px;
}

.Language{
	grid-area: "Language";
}

.info1{
	grid-area: "info1";
}

.info2{
	grid-area: "info2";
}

.Logout{
	grid-area: "Logout";
}